@page
@model UnfinishedModel
@inject IHttpContextAccessor _httpContext
@{
    string loggedInStatusString = _httpContext.HttpContext.Session.GetString("_LoggedIn");
    ViewData["Title"] = "Finished Tasks";
}

@if(Model.CheckConnection()){
    <div class="container px-4 py-5">
        @if(Model.GetFinishedTasks(loggedInStatusString).Count == 0){
            <script src="https://unpkg.com/@@lottiefiles/lottie-player@@latest/dist/lottie-player.js"></script>
            
            <div class="row text-center">
                <h1>No finished tasks...</h1>
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_bzZ00kY9hY.json" class="w-50 mx-auto"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop autoplay></lottie-player>
            </div>
        } else {
            <h1>@ViewData["Title"]</h1>
        }
        @foreach (var item in Model.GetFinishedTasks(loggedInStatusString))
        {
            <div class="container-sm p-3 w-50 undoneTask">
                <div class="feature col text-center">
                    <h3 class="fs-2">@item.Description</h3>
                    <p>Priority: @item.Priority</p>
                    <p>Created: @item.CreatedTime</p>
                </div>
                <form method="post" asp-page-handler="MarkAsUnFinished" class="form-inline text-center">
                    <input type="hidden" name="Id" value="@item.Id"/>
                    <button type="submit" id="btnMarkAsUnFinished" class="button-85">Mark task as undone</button>
                </form>
                <form method="post" asp-page-handler="Delete" class="form-inline text-center mt-4">
                    <input type="hidden" name="Id" value="@item.Id"/>
                    <button type="submit" id="btnDelete" class="button-85">Delete</button>
                </form>
            </div>
        }
    </div>
} else {
    <script src="https://unpkg.com/@@lottiefiles/lottie-player@@latest/dist/lottie-player.js"></script>
    <div class="row">
        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_1e0yPa.json" class="w-75 mx-auto"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop autoplay></lottie-player>
    </div>
}
