@page
@model IndexModel
@{
    ViewData["Title"] = "Unfinished tasks";
}
<h1>@ViewData["Title"]</h1>
<div class="container px-4 py-5">
    @foreach (var item in Model.GetUnfinishedTasks())
    {
        <div class="feature col text-center">
            <h3 class="fs-2">@item.Description</h3>
            <p>Priority: @item.Priority</p>
            <p>Created: @item.CreatedTime</p>
            <p>Completed: @item.Completed</p>
        </div>
        <form method="post" asp-page="index" asp-page-handler="MarkAsFinished" class="form-inline">
            <input type="hidden" name="Id" value="@item.Id"/>
            <button type="submit" id="btnMarkAsDone" class="btn btn-default btn-outline-info">Mark task as done</button>
        </form>
    }
</div>