@page
@model UnfinishedModel
@{
    ViewData["Title"] = "Finished Tasks";
}
<h1>@ViewData["Title"]</h1>

<div class="container px-4 py-5">
    @foreach (var item in Model.GetFinishedTasks())
    {
        <div class="feature col text-center">
            <h3 class="fs-2">@item.Description</h3>
            <p>Priority: @item.Priority</p>
            <p>Created: @item.CreatedTime</p>
            <p>Completed: @item.Completed</p>
        </div>
        <form method="post" asp-page="privacy" asp-page-handler="MarkAsUnFinished" class="form-inline">
            <input type="hidden" name="Id" value="@item.Id"/>
            <button type="submit" id="btnMarkAsUnFinished" class="btn btn-default btn-outline-info">Mark task as undone</button>
        </form>
    }
</div>